.dropdown {
  padding: 10px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    display: inline-block;
    &_bold {
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
    }
  }

  &__btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transition: all 0.3s;
    }

    &_active {
      svg {
        transform: rotateZ(90deg);
      }
    }
  }

  &__list {
    margin-top: 30px;
    row-gap: 10px;
    display: none;
    transition: all 0.5s;

    &_active {
      display: grid;
    }
  }

  &_f .dropdown {
    &__btn {
      display: none;
    }
    &__list {
      display: grid;
    }
  }

  &_c .dropdown {
    &__title {
      font-weight: 300;
      font-size: 20px;
      line-height: 18px;
    }
    &__btn {
      svg {
        fill: var(--dark-gray);
        width: auto;
        height: 15px;
        transform: rotateZ(90deg);
      }
      &_active {
        svg {
          transform: rotateZ(270deg);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .dropdown {
    &_f .dropdown {
      &__title {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 576px) {
  .dropdown {
    &_f .dropdown {
      &__title {
        font-size: 14px;
      }
      &__btn {
        display: block;
        svg {
          fill: var(--white);
          height: 14px;
          width: auto;
        }
      }
      &__list {
        margin-top: 10px;
        display: none;

        &_active {
          display: grid;
        }
      }
    }
  }
}
