.list {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  &-item {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px var(--light-gray);
  }
}
