.subcategory {
  display: grid;
  align-items: center;
  grid-template-columns: 16px 1fr;
  gap: 15px;
  &__done {
    fill: none;
    height: 16px;
    width: 16px;
  }
  &__text {
    font-style: 16px;
    color: var(--primary);
    font-weight: 300;
    line-height: 38px;
  }
  &_active .subcategory {
    &__done {
      fill: var(--primary);
    }
    &__text {
      font-weight: 700;
    }
  }
}

@media (max-width: 1024px) {
  .subcategory {
    gap: 10px;

    &__text {
      font-size: 14px;
      line-height: 28px;
    }
  }
}
