.dropdown-modal {
  position: relative;
  transition: all 0.3s;
  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
  &__title {
    font-weight: 250;
    font-size: 18px;
    line-height: 18px;
    color: var(--primary);
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: none;
    border: none;

    svg {
      transition: all 0.3s;
      fill: var(--dark-gray);
    }
    &_active {
      svg {
        transform: rotateZ(180deg);
      }
    }
  }
  &__active-choose {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    text-decoration-line: underline;
  }

  &__dropdown {
    display: none;
    border: solid 1px var(--primary);
    background: var(--white);
    width: 240px;
    z-index: 100;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    &-list {
      display: grid;
      grid-template-columns: 1fr;
    }

    &-top {
      display: none;
    }
    &-item {
      padding: 7.5px 15px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      transition: all 0.3s;
      &:hover {
        background: var(--primary-hover);
        color: var(--white);
        font-weight: 700;
      }
      &_active {
        background: var(--primary);
        color: var(--white);
        font-weight: 700;
      }
    }
    &_active {
      display: block;
      position: absolute;
      left: 0;
      top: calc(100% + 15px);
    }
  }
}

@media (max-width: 1200px) {
  .dropdown-modal {
    &__title,
    &__active-choose {
      font-size: 14px;
      line-height: 14px;
    }

    &__top {
      gap: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .dropdown-modal {
    &__top {
      padding-right: 10px;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .dropdown-modal {
    position: initial;
    height: 50px;
    display: grid;
    align-items: center;
    width: 100%;

    &__overlay {
      display: none;
      background: rgba(0, 0, 0, 0.43);
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      min-height: 100vh;
      padding: 72px 10px 15px 10px;
      &_active {
        display: block;
      }
    }
    &__top {
      justify-content: space-between;
    }
    &__title {
      font-size: 16px;
      line-height: 18px;
      color: var(--dark-gray);
    }
    &__btn {
      svg {
        display: none;
      }
    }
    &__active-choose {
      text-decoration: none;
      font-size: 16px;
      line-height: 18px;
      color: var(--primary);
    }

    &__dropdown {
      position: relative;
      width: auto;
      &-item {
        padding: 7.5px 25px;
        font-size: 16px;
        line-height: 18px;
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 25px;
        margin-bottom: 10px;
      }
      &-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: var(--primary);
      }
      &-close {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background: none;
        border: none;
        svg {
          fill: #e0e0e0;
        }
      }
    }
  }
}
