:root {
  --museo-sans: "Museo Sans Cyrl";
  --euclid-circular-b: "Euclid Circular B";
  --primary: #956d84;
  --primary-hover: rgb(160 85 126);
  --primary-active: rgb(184, 71, 135);
  --white: #fff;
  --black: #000;
  --gray: #828282;
  --gray-2: #b0b9c0;
  --dark-gray: #333;
  --light-gray: rgba(0, 0, 0, 0.2);
  --background: #e5e5e5;
  --container-width: 1420px;
}

@media (max-width: 1420px) {
  :root {
    --container-width: calc(100vw - 20px);
  }
}

@media (max-width: 1024px) {
  :root {
    --container-width: calc(100vw - 20px);
  }
}
