.icon-counter {
  position: relative;
  padding: 5px;

  &__counter {
    position: absolute;
    height: 16px;
    width: 16px;

    top: 0;
    right: 0;

    z-index: 10;

    background: var(--primary);

    color: var(--white);

    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
