.products-page {
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 40px 1fr auto;
  grid-template-areas:
    "side top "
    "side products "
    "recomendation recomendation ";

  &__products {
    grid-area: products;
  }

  &__side {
    grid-area: side;
  }

  &__top {
    grid-area: top;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__recomendation {
    grid-area: recomendation;
  }
}

@media (max-width: 1200px) {
  .products-page {
    grid-template-columns: 240px 1fr;
    &__select {
      gap: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .products-page {
    &__top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
