.carousel {
  position: relative;
  margin-top: 60px;

  &__btns {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
  }

  &__btn {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    outline: none;
  }

  &__viewbox {
    position: relative;
    width: var(--container-width);
    overflow: hidden;
  }

  &__page {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
  }

  &__content {
    display: flex;
    transition: all 2s;
    transform: translateX(-300px);
  }

  &__title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

  &__indicators {
    display: flex;
    // display: none;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top: 20px;
  }

  &__indicator {
    position: relative;
    width: 10px;
    height: 10px;
    background: none;
    border: none;
    border-color: var(--primary);
    border-radius: 100%;
  }

  &__indicator::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    content: "";
    background: var(--primary);
    border-radius: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    transform: translate(-50%, -50%);
  }

  &__indicator_active {
    border: solid 1px var(--primary);
    transition: all 0.3s;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__item:nth-child(8n + 1),
  &__item:nth-child(8n + 2),
  &__item:nth-child(8n + 3),
  &__item:nth-child(8n + 4) {
    grid-row: 1;
  }

  &__item:nth-child(8n + 5),
  &__item:nth-child(8n + 6),
  &__item:nth-child(8n + 7),
  &__item:nth-child(8n) {
    grid-row: 2;
  }
}

@media (max-width: 1440px) {
  .carousel {
    &__page {
      column-gap: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .carousel {
    &__title {
      margin-bottom: 30px;
      font-size: 40px;
    }

    &__item:nth-child(6n + 1),
    &__item:nth-child(6n + 2),
    &__item:nth-child(6n + 3) {
      grid-row: 1;
    }

    &__item:nth-child(6n + 4),
    &__item:nth-child(6n + 5),
    &__item:nth-child(6n) {
      grid-row: 2;
    }

    &__page {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 576px) {
  .carousel {
    &__title {
      margin-bottom: 30px;
      font-size: 40px;
    }

    &__item:nth-child(4n + 1),
    &__item:nth-child(4n + 2) {
      grid-row: 1;
    }

    &__item:nth-child(4n + 3),
    &__item:nth-child(4n) {
      grid-row: 2;
    }

    &__page {
      grid-template-columns: repeat(2, 1fr);
    }

    // &__indicators {
    // 	display: flex;
    // }

    // &__btns {
    // 	display: none;
    // }
  }
}
