.carousel {
	position: relative;

	margin-top: 60px;
}

.carousel__btns {
	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	gap: 10px;
}

.carousel__btn {
	width: 60px;
	height: 60px;

	border: none;
	outline: none;
	background: none;
}

.carousel__viewbox {
	position: relative;

	overflow: hidden;

	width: var(--container-width);
}

.carousel__page {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	column-gap: 15px;
	row-gap: 15px;
}

.carousel__content {
	display: flex;

	transition: all  2s;
	transform: translateX(-300px);
}

.carousel__title {
	margin-bottom: 50px;

	text-align: center;

	font-size: 48px;
	font-weight: 700;
}

.carousel__indicators {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	margin-top: 20px;
	height: 20px;
	display: none;
}

.carousel__indicator {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: none;
	border-color: var(--primary);
	background: none;
	position: relative;
}

.carousel__indicator::after {
	content: '';
	width: 4px;
	height: 4px;
	background: var(--primary);
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);

	transform: translate(-50%, -50%);
}

.carousel__indicator_active {
	transition: all 0.3s;
	border: solid 1px var(--primary);
}

.carousel__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.carousel__item:nth-child(8n+1),
.carousel__item:nth-child(8n+2),
.carousel__item:nth-child(8n+3),
.carousel__item:nth-child(8n+4) {
	grid-row: 1;
}

.carousel__item:nth-child(8n+5),
.carousel__item:nth-child(8n+6),
.carousel__item:nth-child(8n+7),
.carousel__item:nth-child(8n) {
	grid-row: 2;
}

@media (max-width: 1440px) {
	.carousel__page {
		column-gap: 15px;
	}
}

@media (max-width: 1024px) {
	.carousel__title {
		margin-bottom: 30px;

		font-size: 40px;
	}

	.carousel__item:nth-child(6n+1),
	.carousel__item:nth-child(6n+2),
	.carousel__item:nth-child(6n+3) {
		grid-row: 1;
	}

	.carousel__item:nth-child(6n+4),
	.carousel__item:nth-child(6n+5),
	.carousel__item:nth-child(6n) {
		grid-row: 2;
	}

	.carousel__page {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 576px) {
	.carousel__title {
		margin-bottom: 30px;

		font-size: 40px;
	}

	.carousel__item:nth-child(4n+1),
	.carousel__item:nth-child(4n+2) {
		grid-row: 1;
	}

	.carousel__item:nth-child(4n+3),
	.carousel__item:nth-child(4n) {
		grid-row: 2;
	}

	.carousel__page {
		grid-template-columns: repeat(2, 1fr);
	}

	.carousel__indicators {
		display: flex;
	}

	.carousel__btns {
		display: none;
	}
}
