.product-block {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 120px;
  margin-top: 30px;

  &__title {
    font-weight: 700;
    font-size: 36px;
  }

  &__prices {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 50px;
    padding-bottom: 25px;
  }

  &__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 18px;
    color: var(--primary);
  }

  &__old-price {
    font-size: 24px;
    line-height: 18px;
    text-decoration-line: line-through;

    color: #bdbdbd;
  }

  &__info {
    &-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      margin-top: 25px;
    }

    &-title {
      width: 125px;
      font-size: 16px;
      line-height: 18px;
      color: #bdbdbd;
      font-family: var(--euclid-circular-b);
    }

    &-descr {
      font-size: 16px;
      line-height: 18px;
      font-family: var(--euclid-circular-b);
    }
  }

  &__order {
    margin-top: 50px;
    display: flex;
    gap: 35px;
  }

  &__short {
    &-title {
      margin-top: 45px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;

      color: #828282;
    }
    &-form {
      margin-top: 20px;
      width: 512px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      .input {
        border-right: none;
      }
      button {
        height: 58px;
        padding: 0 35px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    // align-items: center;
    // justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  .product-block {
    gap: 50px;
    &__short {
      &-form {
        width: 450px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .product-block {
    gap: 40px;
    margin-top: 20px;

    &__title {
      font-size: 24px;
    }

    &__prices {
      gap: 15px;
      margin-top: 30px;
      padding-bottom: 15px;
    }

    &__price {
      font-size: 24px;
    }

    &__old-price {
      font-size: 18px;
    }

    &__info {
      &-block {
        gap: 10px;
        margin-top: 15px;
      }

      &-title {
        width: 100px;
        font-size: 13px;
        color: #bdbdbd;
      }

      &-descr {
        font-size: 13px;
      }
    }

    &__order {
      margin-top: 20px;
      button {
        width: 100%;
        max-width: 220px;
      }
    }

    &__short {
      &-title {
        margin-top: 25px;
        font-size: 14px;
      }
      &-form {
        width: 100%;
        max-width: 380px;

        button {
          height: 58px;
          padding: 0 10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .product-block {
    grid-template-columns: 1fr;
    &__gallery {
      margin: 0 auto;
    }
    &__info {
      margin: 0 auto;
    }
  }
}

@media (max-width: 425px) {
  .product-block {
    &__order {
      .counter {
        display: none;
      }
      button {
        max-width: 100%;
        height: 50px;
      }
    }

    &__info {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px 50px max-content 1fr auto;

      grid-template-areas:
        "prices"
        "order"
        "short";

      gap: 20px;

      &-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    &__prices {
      grid-area: prices;
      margin: 0;
      display: grid;
      grid-template-rows: 1fr 1fr;
    }

    &__price {
      grid-row: 2;
    }

    &__order {
      grid-area: order;
      margin: 0;
    }

    &__short {
      grid-area: short;
      margin: 0;
      button {
        padding: 19px 28px;
      }
    }

    &__title {
      display: none;
    }
  }
}
