.side {
  position: absolute;
  top: 0;
  left: -100vw;
  //   max-width: 425px;
  width: 100vw;
  height: 100vh;

  overflow-y: scroll;
  background: var(--white);
  z-index: 10;

  transition: all 0.5s;

  padding-bottom: 50px;

  &__upline {
    height: 72px;
    background: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-weight: 700;
    margin-left: 20px;
  }

  &__close {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  &_active {
    left: 0;
  }

  &__body {
    padding: 10px;
    // position: relative;
  }

  &__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-gray);
  }
}
