@import url("./fonts/MuseoSans/MuseoSans.scss");
@import url("./fonts/EuclidCircularB/EuclidCircularB.scss");
@import url("./styles/variables.scss");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--museo-sans);
	font-style: normal;
}

button {
	font-family: var(--euclid-circular-b);
}

a {
	color: var(--dark-gray);
	text-decoration: none;
}
